version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: payment-postgres
    environment:
      POSTGRES_DB: payment_db
      POSTGRES_USER: payment_user
      POSTGRES_PASSWORD: payment_pass
    ports:
      - "6433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
